<div class="main-container">
  <div class="header">
    <div class="title"><a href="index.html">Home Dictionary</a></div>
  </div>
  
  <div class="menu">
    <div class="menu-item"><a routerLink="/main" routerLinkActive="active">Main</a></div><!--
    --><div class="menu-item"><a routerLink="/tutorials" routerLinkActive="active">Tutorials</a></div><!--
    --><div class="menu-item"><a routerLink="/links" routerLinkActive="active">Links</a></div>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
