
@media screen and (max-width: 1200px) {
  .main-container {
    width: auto;
  }
}

@media screen and (max-width: 1120px) {
  .content .main-images .image-block {
    display: block;
  }
  .content .main-images .image-block:first-child {
    margin-right: 0px;
  }
  .main-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .bd-decor {
    width: 50%;
  }
  .tutorial-content .tutorial-step {
    margin-left: 0px;
  }
  .usage .usage-item {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .main-container {
    font-size: 16px;
  }
  .header .title {
    font-size: 26px;
  }
  .content .title {
    font-size: 18px;
  }
  .menu {
    font-size: 20px;
    display: flex;
  }
  .content .main-images .image-block .image-desc {
    font-size: 14px;
  }
  .links.content .link-add-text {
    font-size: 14px;
  }
  .menu .menu-item {
    flex: 1;
  }
}

@media screen and (max-width: 320px) {
  .menu {
    display: block;
  }
  .menu .menu-item {
    width: 100%;
  }
}