<div class="privacy-policy-content">
  <div class="title">Privacy Policy</div>
  <p>We do not use or store any of your personal data or information, nor do we monitor your file system contents or internet network traffic.</p>
  
  <p><strong>Changes to This Privacy Policy</strong></p>
  <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. These changes are effective immediately after they are posted on this page.</p>
  
  <p><strong>Contact Us</strong></p>
  <p>If you have any questions or suggestions about this Privacy Policy, please contact us via email aspirinumes@gmail.com.</p>
</div>
