<div class="links content">
  <div class="title"><a routerLink="/links">Links</a></div>
  
  <div class="link-category">
    <div class="category-title"></div>
    <div class="link">- <a href="https://github.com/dictzip" target="_blank"><b>dictzip</b> compression tool</a></div>
    <div class="link">- <a href="https://linux.die.net/man/1/dictzip" target="_blank"><b>dictzip</b> tool help page</a></div>
    <div class="link">- <a href="http://lingvo.helpmax.net/en/troubleshooting/dsl-compiler/dsl-dictionary-structure/" target="_blank">Information about the <b>DSL</b> format</a></div>
    <div class="link">- <a href="https://github.com/mortalis13/StarDict-To-DSL-Converter" target="_blank"><b>stardict_to_dsl</b> - StarDict to DSL Converter tool</a></div>
    <div class="link">- <a href="https://github.com/mortalis13/BGL-To-DSL-Converter" target="_blank"><b>bgl_to_dsl</b> - BGL to DSL Converter tool</a></div>
  </div>
</div>
